@tailwind base;
@tailwind components;
@tailwind utilities;

main{
    max-width: 1280px;
    margin: auto;
    min-height: 90vh;
    padding: 10px;
}


@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');
        
.playfair-font {
          font-family: 'Playwrite GB S', serif;
          font-weight: bold;
}

.text-outline-black {
    text-shadow: 
      -0.5px -0.5px 0 #000,  
      0.5px -0.5px 0 #000,
      -0.5px 0.5px 0 #000,
      0.5px 0.5px 0 #000;
  }
  